<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>My-Site</title>
    <base href="/"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bower:css -->
    <link rel="stylesheet" href="js/lib/toastr/toastr.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/content/css/site.css">
    <!-- endinject -->

</head>
<body>
    <div ng-include="'/js/app/layout/shell.html'"></div>
    @RenderBody()
    <!-- bower:js -->
    <script src="/js/lib/jquery/dist/jquery.js"></script>
    <script src="/js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/lib/toastr/toastr.js"></script>
    <script src="/js/lib/angular/angular.js"></script>
    <script src="/js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/app/app.module.js"></script>
    <script src="/js/app/blocks/exception/exception.module.js"></script>
    <script src="/js/app/blocks/logger/logger.module.js"></script>
    <script src="/js/app/blocks/router/router-helper.module.js"></script>
    <script src="/js/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="/js/app/blocks/exception/exception.js"></script>
    <script src="/js/app/blocks/logger/logger.js"></script>
    <script src="/js/app/blocks/router/router-helper.service.js"></script>
    <script src="/js/app/core/core.module.js"></script>
    <script src="/js/app/dashboard/dashboard.module.js"></script>
    <script src="/js/app/layout/layout.module.js"></script>
    <script src="/js/app/core/config.js"></script>
    <script src="/js/app/core/constants.js"></script>
    <script src="/js/app/core/core.router.js"></script>
    <script src="/js/app/dashboard/dashboard.controller.js"></script>
    <script src="/js/app/dashboard/dashboard.route.js"></script>
    <script src="/js/app/layout/shell.controller.js"></script>
    <script src="/js/app/layout/sidebar.controller.js"></script>
    <script src="/js/app/layout/site-sidebar.directive.js"></script>
    <script src="/js/app/layout/site-top-nav.directive.js"></script>
    <!-- endinject -->
    @RenderSection( "scripts", false )
</body>
</html>