<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>My-Site</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bower:css -->
    <link rel="stylesheet" href="js/lib/toastr/toastr.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/content/css/site.css">
    <!-- endinject -->

</head>
<body>
    @RenderBody()

    <!-- bower:js -->
    <script src="/js/lib/jquery/dist/jquery.js"></script>
    <script src="/js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/lib/angularjs/angular.js"></script>
    <script src="/js/lib/toastr/toastr.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/app/app.module.js"></script>
    <script src="/js/app/blocks/exception/exception.module.js"></script>
    <script src="/js/app/blocks/logger/logger.module.js"></script>
    <script src="/js/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="/js/app/blocks/exception/exception.js"></script>
    <script src="/js/app/blocks/logger/logger.js"></script>
    <script src="/js/app/core/core.module.js"></script>
    <script src="/js/app/core/config.js"></script>
    <script src="/js/app/core/constants.js"></script>
    <!-- endinject -->
    @RenderSection( "scripts", false )
</body>
</html>