// bower:less
@import "../../bower_components/bootstrap/less/bootstrap.less";
// endbower

// bower:css!
// endbower!

@import "Variables";
@import "SideBar";

* {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
    font-size: 13px;
    line-height: 23px;
    color: #666;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: @color_background;
    text-decoration: none !important;
}

a:hover {
    color: #888;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    outline: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.navbar .nav > li > a {
    font-size: 13px !important;
    color: #fff !important;
}

.navbar .navbar-brand {
    color: #fff !important;
    margin: 0 1em;
    height: 45px;
}

.navbar-inverse {
    background-color: @color_background;
}

/* Mainbar */
.mainbar {
    position: relative;
    margin-right: 0;
    margin-left: @size-sidebar;
    width: auto;

    .content {
        margin: 2em;
    }
}


.shuffle-animation {
    &.ng-enter,
    &.ng-leave {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.ng-enter {
        transition: all .3s ease-out .4s;
        transform: translate3d(2em, 0, 0);
        opacity: 0;

        &.ng-enter-active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    &.ng-leave {
        transition: all .3s ease-out;
        transform: translate3d(0, 0, 0);
        opacity: 1;

        &.ng-leave-active {
            transform: translate3d(2em, 0, 0);
            opacity: 0;
        }
    }
}

.view-container {
    position: relative;
    height: 1px;
}
