// bower:less
@import "../../bower_components/bootstrap/less/bootstrap.less";
// endbower

// bower:css!
// endbower!

@color_background: #333;

* {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
    font-size: 13px;
    line-height: 23px;
    color: #666;
    background: #111;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #333;
    text-decoration: none !important;
}

    a:hover {
        color: #888;
        text-decoration: none;
    }

    a:hover, a:focus, a:active {
        outline: 0;
    }

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.navbar .nav > li > a {
  font-size: 13px !important;
  color: #fff !important;
}

.navbar .navbar-brand{
    color: #fff !important;
    margin: 0 1em;
    height: 45px;
}

.navbar-inverse{
    background-color: @color_background;
}

/* Sidebar */
.sidebar{
    width: 230px;
    float: left;
    display: block;
    background: #111;
    color: #eee;
    position: relative;

    .sidebar-inner{
        display: block;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        z-index: 60;
        background: #111;
    }

    .sidebar-filler {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #333;
        width: 230px;
    }
}
